<div class="dt-demo-card">
  <dt-card>
    <dt-card-title>Top 3 JavaScript errors</dt-card-title>
    <dt-card-subtitle>Some subtitle</dt-card-subtitle>
   
 
  <form [formGroup]="form" (ngSubmit)="submitForm()">
      

      <dt-form-field>
          <dt-label>Summary<span>*</span></dt-label>
          <input type="text" dtInput placeholder="Summary" formControlName="summary">
      </dt-form-field>

      <dt-form-field>
        <dt-label>Indentified problem<span>*</span></dt-label>
        <textarea type="text" dtInput placeholder="What's wrong, missing or confusing? Why is this a problem?" formControlName="problem"></textarea>
    </dt-form-field>

    <dt-form-field>
      <dt-label>Proposed solution<span>*</span></dt-label>
      <textarea type="text" dtInput placeholder="How would you fix this? What's needed to clarify the screen to the user?" formControlName="solution"></textarea>
  </dt-form-field>
  
  <div class="form-group">
          <input type="file" (change)="uploadFile($event)">
      </div>

  <dt-form-field>
    <dt-label>Email<span>*</span></dt-label>
    <input type="email" dtInput placeholder="Your Dynatrace email address" formControlName="email">
</dt-form-field>

      <div class="form-group">
          <button dt-button>Submit</button>
      </div>
  </form>
  
</dt-card>
</div>

<router-outlet></router-outlet>